doctype html
html(lang='en')
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
      //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-xs-12
          block content
    block javascripts
      script(src='https://code.jquery.com/jquery-1.11.3.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
      script(src='/javascripts/scripts.js')
